@charset "UTF-8";

.top {
  position: relative;
  width: 100%;
  height: auto;
}

.top_bg {
  width: 100%;
  height: 100%;
}

.top_img {
  width: 100%;
  height: 100%;
}

.top_img img {
  width: 55%;
  margin-top: 20%;
  margin-left: 40%;
  border-radius: 30px;
}

.top_ttl {
  position: absolute;
  bottom: 32%;
  right: 25%;
  width: 60%;
  background-color: rgba(246, 216, 216, 73%);
  z-index: 2;
  border-radius: 30px;
  font-size: 6em;
  letter-spacing: 0.4em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 20%);
}

.top_ttl1 {
  margin-top: 4%;
  margin-left: 8%;
}

.top_ttl2 {
  margin-top: 3%;
  margin-left: 23%;
}

.top_ttl3 {
  margin-top: 3%;
  margin-left: 42%;
  margin-bottom: 5%;
}

.top_txt {
  display: flex;
  margin: 5% 10%;
  font-size: 1.5em;
}

/* goods */

.goods_list {
  display: flex;
}

.goods_list img {
  width: 80%;
  height: 70%;
  border-radius: 25px;
  box-shadow: 2px 2px 2px rgba(170, 167, 167, 0.911);
}

.goods_item1,
.goods_item3 {
  margin-top: 5%;
  margin-bottom: 12%;
}

.goods_item2 {
  margin-top: 12%;
  margin-bottom: 5%;
}

.goods_txt {
  width: 80%;
  height: auto;
}

.goods_txt h4 {
  font-size: 1.3em;
  text-align: center;
}

.goods_txt p {
  text-align: center;
}

/* news */
.news_txt {
  display: block;
  background-color: cornsilk;
  margin: 5% auto;
  border-radius: 30px;
  width: 90%;
  height: 30vh;
}

.news_txt ul {
  margin-left: 3%;
}

.news_txt ul li {
  margin-top: 0.8%;
  font-size: 1.2em;
  color: rgb(202, 88, 88);
}

.news_txt ul p {
  color: gray;
}

/* レスポンシブ */
/* ～1024px */
@media screen and (max-width: 1024px) {
  .top_ttl {
    height: 55%;
  }

  .top_ttl1,
  .top_ttl2,
  .top_ttl3 {
    font-size: 0.7em;
    letter-spacing: 0.2em;
  }

  .top_img img {
    width: 55%;
  }

  .top_txt {
    font-size: 1.2em;
  }

  .goods_txt p {
    font-size: 0.8em;
  }
}

/* ～768px */
@media screen and (max-width: 768px) {
  .top_ttl1,
  .top_ttl2,
  .top_ttl3 {
    font-size: 0.55em;
  }

  .top_txt {
    font-size: 01em;
  }

  .goods_txt {
    width: 90%;
  }

  .goods_txt h4 {
    font-size: 1em;
  }

  .goods_txt p {
    font-size: 0.3em;
  }

  .goods_list img {
    width: 90%;
  }
}

/* ～480px */
@media screen and (max-width: 480px) {
  .top_ttl1,
  .top_ttl2,
  .top_ttl3 {
    font-size: 0.3em;
  }

  .top_txt {
    font-size: 0.7em;
  }

  .goods_txt {
    width: 90%;
    margin: 2% auto;
  }

  .goods_txt h4 {
    font-size: 1em;
  }

  .goods_txt p {
    font-size: 0.3em;
  }

  .goods_list {
    display: block;
    margin: 5% auto;
  }

  .goods_list img {
    width: 60%;
    margin: 0 20%;
  }

  .news_txt {
    font-size: 0.8em;
  }
}
